mixin about_item(icon_name)
    .about_item
        .icon-wrap
            include ../../assets/img/icon_headphone.svg
        .text-wrap
            h3 Поддержка 24/7
            p Наши кураторы помогут вам решить вопросы по разработке курса и его продвижении.
