mixin course_detail_card
    .course_detail_card
        .header
        .card-content
            h3 Название курса
            .card-info
                div
                    span
                        include ../../assets/img/icon_lvl_hard.svg
                    span Сложность
                div
                    span
                        include ../../assets/img/icon_calendar.svg
                    span 8 days
                div
                    span
                        include ../../assets/img/icon_group.svg
                    span Group / Private
            .card-text Spend the week of your life exploring Moscow & St. Petersburg. This 8-day trip offers
                |unparalleled access to Russia's most famous cities and all their attractions. Signature tour to Moscow
                |& St Petersburg, group or private, on your choice, will dazzle you with stunning architecture &
                |heritage as you rub shoulders with the locals, all under the guidance of our
            .card-price
                span Стоимость
                span $ 1,227 USD
            .card-action
                a View trip
                a
                    span
                        include ../../assets/img/icon_letter_gray.svg
                    span Enquire
                a
                    span
                        include ../../assets/img/icon_chat.svg
                    span Chat online


