mixin footer
    footer#footer
        .footer-wrap
            nav
                .links
                    a Testimonials
                    a Privacy
                    a Contacts
                    a Terms & conditions
                    a Site map
                    a Log in
                .social
                    a
                        include ../../assets/img/icon_instagram.svg
                    a
                        include ../../assets/img/icon_facebook.svg
            .additional
                span &copy; 2016-2019 discovery russia. all rights reserved.
                span Australia, Sydney abn: 39616347150
