mixin header
    header#header
        .header-wrap
            a(href="#")
                include ../../assets/img/icon_logo.svg
            .header-nav
                a(href="#") Курсы
                a(href="#") О нас
                a(href="#") Отзывы
                a(href="#") Создать школу
            .action
                a(href="#")
                    include ../../assets/img/icon_callback_white.svg
                a(href="#").action-phnumber +61 2 8310 7667
                a(href="#").action-letter
                    include ../../assets/img/icon_letter.svg
                a(href="#")
                    include ../../assets/img/icon_signin.svg
