.icon {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: $root-font-size;
}

body {
  font-size: $base-font-size;
  background-color: #e5e5e5;
}

@media (max-width: 1250px) and (min-width: 992px) {
  html {
    font-size: 0.8vw;
  }
}

.container {
  margin: 0 auto;
  width: 117rem;
}

.header-h-padding {
  padding-top: $header-height;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

h2 {
  font-family: Roboto, serif;
  font-weight: bold;
  font-size: 4.8rem;
  text-align: center;
}

#test_img_container {
  background-image: url("../assets/img/test_course.jpg");
  //background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 107.4%;
  width: 134rem;
  //width: 144rem;
  //height: 371.6rem; // common
  height: 315.7rem; // course
  outline: 0.1rem solid red;
  position: absolute;
  z-index: 9999;
  top: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: block;
  opacity: 0.3;
  &.active {
    background: none;
    outline: 1px solid green;
  }
  &.doubleclick {
    display: none;
  }
}

.btn {
  background-color: #18b9bb;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: Lato, serif;
  font-weight: bold;
  cursor: pointer;
}
