header#header
    .header-wrap
        a(href="#").header-logo.svg-wrap
            include ../../assets/img/icon_logo.svg
        .header-nav
            a(href="#") lorem
            a(href="#") ipsum
            a(href="#") dolar
            a(href="#") more long
            a(href="#") helllllllo moto
            a(href="#") dolar
        .action
            a(href="#").svg-wrap
                include ../../assets/img/icon_callback_white.svg
            a(href="#").ph-number 89283999778
            a(href="#").svg-wrap
                include ../../assets/img/icon_letter.svg
            a(href="#").svg-wrap
                include ../../assets/img/icon_signin.svg
