include mixins/header
include mixins/discount_icon
include mixins/course_card
include mixins/about_item
include mixins/testimonial_card
include mixins/footer

doctype html
html(lang="ru")
    head
        title Test
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        +header
        .main-content
            block content
        +footer
        div#test_img_container