extends base

block content
    include includes/banner_1
    include includes/block_course
    include includes/banner_2
    include includes/about_us
    include includes/block_testimonials
    include includes/block_form