extends ../base

block content
    include ../includes/banner_3
    include ../includes/about_course
    include ../includes/course_detail
    include ../includes/block_testimonials
    include ../includes/block_form