@function rem($size, $context: $main-font-size) {
  //@return $size / $context * 1rem;
}

#header {
  height: $header-height;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  z-index: $header-zindex;
  display: flex;
  align-items: center;

  .header-wrap {
    display: flex;
    justify-content: space-between;
    width: 1230px;
    margin: 0 auto;

    .header-logo {
    }

    .header-nav {
      display: flex;
      align-items: center;
      margin-left: -20%;

      & > a {
        margin: 0 5px;
        display: inline-block;
      }
    }

    .action {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
