.testimonial_card {
  h3 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    color: #000000;
    margin-top: 0.5rem;
  }

  .info-wrap {
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
    .icon-wrap {
      display: inline-block;
      margin-right: 0.2rem;
    }
    .date {
      font-family: "Lato", sans-serif;
      font-weight: 600;
      font-size: 1.2rem;
      color: #808080;
      margin-left: 0.7rem;
    }
  }

  .content {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #68696c;
    margin-top: 0.7rem;
  }

  .profile {
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
    & > span {
      &:last-child {
        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-size: 1.6rem;
        color: #18b9bb;
        margin-left: 0.8rem;
      }
    }
  }

  &.special {
    .content {
      width: 36.6rem;
      height: 15.1rem;
      background-color: #c4c4c4;
    }
  }
}
