section.banner_2
    .filter
        .container
            h2 Создать свою школу
            p Stay tuned and get fresh travel ideas on Discovery Russia tours and travels
            p Discovery Russia tours and travels
            .btn-wrap
                .btn Создать школу