section.banner_1.header-h-padding
    div.container
        h1 Уник-Ум skills
        p Платформа для ваших онлайн курсов.
        //<svg>
        //<use xlink:href="/path/to/spritemap.svg#sprite-phone"></use>
        //</svg>
        svg
            use(xlink:href="#icon_headphone")
        .btn-container
            a.btn Создать школу