.block_form.container
    h2.block-headline Если остались вопросы
    p.subtitle Stay tuned and get fresh travel ideas on Discovery Russia tours and travels
    form
        .form-item
            input(type="text" placeholder="Enter name")
        .form-item
            input(type="text" class="error" placeholder="Enter e-mail")
        .form-item
            input(class="btn" type="button" value="Sign up")
        .form-item
            .info
                span Some text about user’s
                a personal data