.about {
  padding: 7.1rem 0 0 0;
  .cards-wrap {
    margin-top: 5.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card-item {
      margin-bottom: 4.5rem;
      width: 37rem;
    }
  }
  .more {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #000000;
    padding-top: 6rem;
    span {
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}
