.about_us {
  padding: 7.1rem 0 0 0;
  .cards-wrap {
    margin-top: 5.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card-item {
      margin-bottom: 4.5rem;
      width: 37rem;
    }
  }
}
