.about_us {
  @include grid-container;
  padding: 7.1rem 0 0 0;
  .cards-wrap {
    @include grid-row;
    margin-top: 5.4rem;
    .card-item {
      @include grid-item;
      @include col-desktop(4);
      margin-bottom: 4.5rem;
    }
  }
}
