.block_course {
  padding-top: 13rem;
  .cards-wrap {
    margin-top: 4.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card-item {
      margin-bottom: 5rem;
      width: 27rem;
    }
  }
}
